:root {
    --white-text: #FFFFFF;
    --blue-text: #2196F3;
    --grey-text: #757575;
    --graphite-text: #212121;
    --black-text: #000000;
    --grey-text-op60: rgba(255, 255, 255, 0.6);
    --back-gray: #2F303A;
    --back-white: #E5E5E5;
    --back-gray-light: #F5F4FA;
}